
@import './functions';
.Header{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;    
    position: relative;
    & label{
        color: #060A24;           
        margin-right: 5%;
        margin-top: pxToem(16, 10) * 1em;
        font-size: 18px;
    }
    &-logo{        
        width: pxToem(16, 24) * 1em;
        height: pxToem(16, 24) * 1em;
        margin-left: 5%;
        margin-top: pxToem(16, 10) * 1em;
    }
    &-close{
        display: none;
    }
    &-menu{
        height: 0px;
        transition: height 0.7s ease;
        overflow: hidden;   
        color: rgba(255,255,255,1);
        background-color: rgba(0,0,236,1);                     
        width: 100%;  
        margin-top: pxToem(16,10) * 1em;
        margin-bottom: 2em;
    }
    &-checkbox{
        display: none;
    }
    
    &-checkbox:checked ~ &-menu{
        height: pxToem(16,56) * 4em;
    }
    &-checkbox:checked ~ &-hamburguer{  
        display: none;
    }
    &-checkbox:checked ~ &-close{
        height:30px;
        display: inline-block;
    }
    &-item{           
        line-height: pxToem(16,56) * 1em; 
        list-style: none;   
        width: 100%;  
        font-size: 16px;  
        height: pxToem(16,56) * 1em; 
        padding-left: 1em;
    }    
    &-items{
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }
    &-link:link{
        text-decoration: none;    
        color: rgba(255,255,255,1);
    }
    &-link:visited{
        text-decoration: none;    
        color: rgba(255,255,255,1);
    }    
    &-link:active{
        text-decoration: none;    
        color: rgba(255,255,255,1);
    }        
    &-item:hover{
        background-color: white;
    }
    &-item:hover &-link{        
        color: rgba(6,10,36,1);
    }
    @media screen and (min-width: 768px){  
        &-logo{        
            width: 36px;
            height: 36px;
            margin-top: 0;
            margin-left: 10%;
        }    
        &-checkbox:checked ~ &-close{            
            display: none;
        }
        &-checkbox:checked ~ &-menu{
            height: pxToem(16,80) * 1em;
        }
        &-hamburguer {
            display: none;
        }
        &-menu{            
            color: rgba(6,10,36,1);
            background-color: #FFFFFF;
            position: relative;
            height: pxToem(16,80) * 1em;            
            width:43%;
            overflow: visible;
            margin: 0 10% 0 0; 
        }
        &-items{
            display: flex;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            align-items: center;
            align-self: center;
            justify-content: space-evenly;
        }
        &-item{        
            margin: 1%;
            min-width: fit-content;
        }
        &-item:last-child{        
            flex-shrink: 3;
        }
        &-link:link{
            text-decoration: none;    
            color: rgba(6,10,36,1);
        }
        &-link:visited{
            text-decoration: none;    
            color: rgba(6,10,36,1);
        }
        &-link:active{
            text-decoration: none;    
            color: rgba(6,10,36,1);
        }               
        &-link:hover{
            border-bottom: 4px solid rgba(0,0,236,1);
        }
    }
    
}