@import './functions';
.Episodes{   
    background: linear-gradient(to bottom left, #0000FF,#0000A3);
    clip-path: polygon(100% 0%, 0% 5%, 0% 100%, 100% 95%);    
    padding: 20% 5% 40%;
    &-title{
        margin-top: 0;
        color: #FFFFFF;
    }    
    &-grid{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    &-iframe{
        position: relative;
        border: none;
        width: 100%;
        height: pxToem(16, 160) * 1em;
    }

    @media screen and (min-width: 768px){        
        clip-path: polygon(100% 0%, 0% 14%, 0% 100%, 100% 86%);        
        padding: 10% 10% 20%;
        &-title{
            grid-column: 1 / 3;
            padding-left: 7vw;
            margin-bottom: 3%;
        } 
        &-grid{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr; 
            column-gap: 5%;       
            row-gap: 10%;
        }
    }
    
}

.WeComeFrom{
    margin: 0 5% 5% 5%;
    &-title{
        width: 70%;
    }
    p{
        margin-bottom: 0;
    }
    @media screen and (min-width: 768px){
        display: flex;
        align-items: center;
        justify-content: center;
        .WeComeFrom-text{
            margin-top: 10%;
            width: 50%;
        }
        .Content-image-secret{
            width: 37.7%;
            margin: 0 4.3% 0 8%;
        }
    }
}
.Content-grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 30vw auto;
    .Episodes{
        grid-column: 1 / 2;
        grid-row: 1/ 3;
    }
    .WeComeFrom{
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        z-index: 2;
    }
    @media screen and (min-width: 768px){
        grid-template-rows: auto 13vw auto;
    }
}
.Guests{
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 5%;
    &-title{
        width: pxToem(36, 288) * 1em;
        margin: 3% 5%;
    }
    img{
        margin: 0;
        padding: 0;
    }
    @media screen  and(min-width: 768px){
        flex-flow: row wrap;        
        margin-bottom: 3%;
        &-title{
            width: 100%;
            margin-left: 10%;
            padding: 0 0 0 7vw;
        }
        img{
            width: 33.33333333%;
        }
    }
}
.Topics{
    margin: 0 5%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    &-div{
        position: relative;
        display: inline-block;
        width: 100%;
    }
    &-subtitle{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: #060A24;
        text-align: center;
        width: 60%;
        margin: 3% 20% 15% 20%;
    }
    &-div:last-child &-subtitle{   
        width: 100%;   
        margin: 3% 0 15% 0;
    }
    &-icon{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    &-link:visited{
        color: #060A24;
    }
    @media screen and (min-width: 768px){
        flex-flow: row wrap;
        justify-content: center;
        &-title{
            width: 100%;
            margin-left: 5%;
            padding-left: 7vw;
        }
        &-div{
            width: 25%;
        }
        &-subtitle{
            margin-right: 0px;
            margin: 3% auto 15%;
            text-align: center;
        }
    }
}
 
.LastsNews{
    background-image: linear-gradient(225deg, #0000FF, #0000A3);
    clip-path: polygon(100% 0%, 0% 15%, 0% 100%, 100% 100%);
    padding: 5% 5% 20% 5%;
    &-title{
        color: #FFFFFF;
        padding: 0 10%;
        text-align: center;
    }
    &-button{
        background-color: rgba(0,243,187,1);
        color: rgba(6,10,36,1);
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        height: pxToem(16, 48) * 1em;
        border: none;
    }
    @media screen and (min-width: 768px){
        clip-path: polygon(100% 0%, 0% 25%, 0% 100%, 100% 100%);
        padding-top: 10%;
        padding-bottom: 10%;
        position: relative;
        &-button{
            position: relative;
            width: 30%;            
            left: 50%;
            transform: translateX(-50%);
        }
    }
}