.Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
}

.Content img {
  max-width: 100%;
}

.Content h1, .Content h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
}

.Content-description {
  color: #060a24;
}

.Content-description-title {
  display: inline-block;
  margin: 0;
}

.Content-description-title:nth-child(2) {
  text-decoration: line-through;
}

.Content-description-title:nth-child(3) {
  width: 100%;
}

.Content-description-desktop {
  display: none;
}

.Content-description p {
  line-height: 22px;
  color: blue;
  font-size: 14px;
  margin-bottom: 3em;
}

.Content-knowMore {
  background-color: #00f3bb;
  color: #060a24;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 3em;
  border: none;
}

@media screen and (min-width: 768px) {
  .Content-description {
    margin-left: 5%;
  }
  .Content-description h1, .Content-description h2 {
    font-size: 64px;
  }
  .Content-description-title:nth-child(3) {
    width: auto;
  }
  .Content-description-desktop {
    display: inline-block;
    max-width: 628px;
    line-height: 24px;
  }
  .Content-description-mobile {
    display: none;
  }
  .Content-knowMore {
    width: 226px;
    position: relative;
  }
}

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  position: relative;
}

.Header label {
  color: #060A24;
  padding-right: 5%;
  padding-top: 5%;
}

.Header-logo {
  padding-left: 5%;
  padding-top: 5%;
}

.Header-close {
  display: none;
}

.Header-menu {
  height: 0px;
  -webkit-transition: height 0.7s ease;
  transition: height 0.7s ease;
  overflow: hidden;
  color: white;
  background-color: #0000ec;
}

.Header-checkbox {
  display: none;
}

.Header-checkbox:checked ~ .Header-menu {
  height: 14em;
}

.Header-checkbox:checked ~ .Header-hamburguer .Hamburguer {
  display: none;
}

.Header-checkbox:checked ~ .Header-close {
  height: 30px;
  display: inline-block;
}

.Header-item {
  line-height: 3.5em;
  list-style: none;
  width: 100%;
  font-size: 16px;
  height: 3.5em;
}

.Header-menu {
  width: 100%;
  margin-top: 0.625em;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

body {
  font-family: 'IBM Plex Mono', monospace;
}

.Content-episodes {
  background: -webkit-gradient(linear, right top, left bottom, from(#0000FF), to(#0000A3));
  background: linear-gradient(to bottom left, #0000FF, #0000A3);
  -webkit-clip-path: polygon(100% 0%, 0% 5%, 0% 100%, 100% 95%);
          clip-path: polygon(100% 0%, 0% 5%, 0% 100%, 100% 95%);
}
/*# sourceMappingURL=style.css.map */