.Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
  width: 100vw;
}

.Content p {
  line-height: 22px;
  color: #060A24;
  font-size: 14px;
  margin-bottom: 3em;
}

.Content img {
  max-width: 100%;
}

.Content h1, .Content h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
}

.Content-description {
  color: #060a24;
  margin: 0 5% 1.5em 5%;
}

.Content-description-title {
  display: inline-block;
  margin: 0;
}

.Content-description-title:nth-child(2) {
  text-decoration: line-through;
}

.Content-description-title:nth-child(3) {
  width: 100%;
}

.Content-description-title:nth-child(3)::after {
  content: ".";
  color: #0000ec;
}

.Content-description-desktop {
  display: none;
}

.Content-knowMore {
  background-color: #00f3bb;
  color: #060a24;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 3em;
  border: none;
}

@media screen and (min-width: 768px) {
  .Content-description {
    margin-left: 10%;
    margin-top: 7.5em;
    padding-left: 7vw;
  }
  .Content-description h1, .Content-description h2 {
    font-size: 64px;
  }
  .Content-description-title:nth-child(3) {
    width: auto;
  }
  .Content-description-desktop {
    display: inline-block;
    width: 628px;
    line-height: 24px;
  }
  .Content-description-mobile {
    display: none;
  }
  .Content-knowMore {
    font-size: 18px;
    width: 19%;
    position: relative;
    margin-right: 81%;
  }
}

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.Header label {
  color: #060A24;
  margin-right: 5%;
  margin-top: 0.625em;
  font-size: 18px;
}

.Header-logo {
  width: 1.5em;
  height: 1.5em;
  margin-left: 5%;
  margin-top: 0.625em;
}

.Header-close {
  display: none;
}

.Header-menu {
  height: 0px;
  -webkit-transition: height 0.7s ease;
  transition: height 0.7s ease;
  overflow: hidden;
  color: white;
  background-color: #0000ec;
  width: 100%;
  margin-top: 0.625em;
  margin-bottom: 2em;
}

.Header-checkbox {
  display: none;
}

.Header-checkbox:checked ~ .Header-menu {
  height: 14em;
}

.Header-checkbox:checked ~ .Header-hamburguer {
  display: none;
}

.Header-checkbox:checked ~ .Header-close {
  height: 30px;
  display: inline-block;
}

.Header-item {
  line-height: 3.5em;
  list-style: none;
  width: 100%;
  font-size: 16px;
  height: 3.5em;
  padding-left: 1em;
}

.Header-items {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.Header-link:link {
  text-decoration: none;
  color: white;
}

.Header-link:visited {
  text-decoration: none;
  color: white;
}

.Header-link:active {
  text-decoration: none;
  color: white;
}

.Header-item:hover {
  background-color: white;
}

.Header-item:hover .Header-link {
  color: #060a24;
}

@media screen and (min-width: 768px) {
  .Header-logo {
    width: 36px;
    height: 36px;
    margin-top: 0;
    margin-left: 10%;
  }
  .Header-checkbox:checked ~ .Header-close {
    display: none;
  }
  .Header-checkbox:checked ~ .Header-menu {
    height: 5em;
  }
  .Header-hamburguer {
    display: none;
  }
  .Header-menu {
    color: #060a24;
    background-color: #FFFFFF;
    position: relative;
    height: 5em;
    width: 43%;
    overflow: visible;
    margin: 0 10% 0 0;
  }
  .Header-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .Header-item {
    margin: 1%;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .Header-item:last-child {
    -ms-flex-negative: 3;
        flex-shrink: 3;
  }
  .Header-link:link {
    text-decoration: none;
    color: #060a24;
  }
  .Header-link:visited {
    text-decoration: none;
    color: #060a24;
  }
  .Header-link:active {
    text-decoration: none;
    color: #060a24;
  }
  .Header-link:hover {
    border-bottom: 4px solid #0000ec;
  }
}

a {
  text-decoration: none;
}

body {
  font-family: 'IBM Plex Mono', monospace;
}

html {
  scroll-behavior: smooth;
}

.Episodes {
  background: -webkit-gradient(linear, right top, left bottom, from(#0000FF), to(#0000A3));
  background: linear-gradient(to bottom left, #0000FF, #0000A3);
  -webkit-clip-path: polygon(100% 0%, 0% 5%, 0% 100%, 100% 95%);
          clip-path: polygon(100% 0%, 0% 5%, 0% 100%, 100% 95%);
  padding: 20% 5% 40%;
}

.Episodes-title {
  margin-top: 0;
  color: #FFFFFF;
}

.Episodes-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

.Episodes-iframe {
  position: relative;
  border: none;
  width: 100%;
  height: 10em;
}

@media screen and (min-width: 768px) {
  .Episodes {
    -webkit-clip-path: polygon(100% 0%, 0% 14%, 0% 100%, 100% 86%);
            clip-path: polygon(100% 0%, 0% 14%, 0% 100%, 100% 86%);
    padding: 10% 10% 20%;
  }
  .Episodes-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    padding-left: 7vw;
    margin-bottom: 3%;
  }
  .Episodes-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-column-gap: 5%;
            column-gap: 5%;
    row-gap: 10%;
  }
}

.WeComeFrom {
  margin: 0 5% 5% 5%;
}

.WeComeFrom-title {
  width: 70%;
}

.WeComeFrom p {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .WeComeFrom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .WeComeFrom .WeComeFrom-text {
    margin-top: 10%;
    width: 50%;
  }
  .WeComeFrom .Content-image-secret {
    width: 37.7%;
    margin: 0 4.3% 0 8%;
  }
}

.Content-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto 30vw auto;
      grid-template-rows: auto 30vw auto;
}

.Content-grid .Episodes {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/ 3;
}

.Content-grid .WeComeFrom {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .Content-grid {
    -ms-grid-rows: auto 13vw auto;
        grid-template-rows: auto 13vw auto;
  }
}

.Guests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-bottom: 5%;
}

.Guests-title {
  width: 8em;
  margin: 3% 5%;
}

.Guests img {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .Guests {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-bottom: 3%;
  }
  .Guests-title {
    width: 100%;
    margin-left: 10%;
    padding: 0 0 0 7vw;
  }
  .Guests img {
    width: 33.33333333%;
  }
}

.Topics {
  margin: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Topics-div {
  position: relative;
  display: inline-block;
  width: 100%;
}

.Topics-subtitle {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #060A24;
  text-align: center;
  width: 60%;
  margin: 3% 20% 15% 20%;
}

.Topics-div:last-child .Topics-subtitle {
  width: 100%;
  margin: 3% 0 15% 0;
}

.Topics-icon {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.Topics-link:visited {
  color: #060A24;
}

@media screen and (min-width: 768px) {
  .Topics {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Topics-title {
    width: 100%;
    margin-left: 5%;
    padding-left: 7vw;
  }
  .Topics-div {
    width: 25%;
  }
  .Topics-subtitle {
    margin-right: 0px;
    margin: 3% auto 15%;
    text-align: center;
  }
}

.LastsNews {
  background-image: linear-gradient(225deg, #0000FF, #0000A3);
  -webkit-clip-path: polygon(100% 0%, 0% 15%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0%, 0% 15%, 0% 100%, 100% 100%);
  padding: 5% 5% 20% 5%;
}

.LastsNews-title {
  color: #FFFFFF;
  padding: 0 10%;
  text-align: center;
}

.LastsNews-button {
  background-color: #00f3bb;
  color: #060a24;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 3em;
  border: none;
}

@media screen and (min-width: 768px) {
  .LastsNews {
    -webkit-clip-path: polygon(100% 0%, 0% 25%, 0% 100%, 100% 100%);
            clip-path: polygon(100% 0%, 0% 25%, 0% 100%, 100% 100%);
    padding-top: 10%;
    padding-bottom: 10%;
    position: relative;
  }
  .LastsNews-button {
    position: relative;
    width: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 14.5%;
  position: relative;
  color: #060A24;
}

.Footer-copyright {
  font-size: 14px;
}

.Footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0;
}

.Footer-item {
  display: inline-block;
  list-style: none;
}

.Footer a:visited {
  color: #060A24;
}

@media screen and (min-width: 768px) {
  .Footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
  }
  .Footer-items {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .Footer-item {
    padding-left: 2em;
  }
}
/*# sourceMappingURL=style.css.map */